:root {
    --font1: Calibri;
    --font2: Arial;
    --font3: Helvetica;
    --color1: #b5def7;
    --color2: #f2f2f2;
    --color3: #032a7c;
    --search-bar-1: #ffffff;
    --search-bar-2: #4d4d4d;
    --search-bar-font: 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", Helvetica;
    --task-1: #ffffff;
    --task-2: #000000;
    --task-font: Arial;
}

body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
}

#side-nav {
    width: 20%;
    height: 100%;
    float: left;
    background-color: var(--color2);
}

#main-content {
    width: 80%;
    height: 100%;
    float: right;
    background-color: var(--color1);
    color: var(--color3);
    font-weight: 900;
}

#side-nav-title {
    font-size: 5vh;
    text-align: center;
    margin: 1vh 0;
    font-family: var(--font1);
}

#title {
    font-size: 5vh;
    margin: 0 0 0 4.5%;
    padding: 1vh;
    text-align: left;
    font-family: var(--font1);
    position: sticky;
    background-color: var(--color1);
    top: 0;
}

#search-bar {
    background-color: var(--search-bar-1);
    color: var(--search-bar-2);
    outline: none;
    font-family: var(--search-bar-font);
    width: 85%;
    padding: 1vh 0;
    border: 1vh solid var(--search-bar-1);
    border-left: 2vw solid var(--search-bar-1);
    border-right: 2vw solid var(--search-bar-1);
    margin: 0 0 2.5vh calc(7.5% - 2vw);
    border-radius: 2vw;
    font-size: 3vh;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
}

#search-bar br {
    display: none;
}

#search-bar * {
    display: inline;
    white-space: nowrap;
}

.task {
    background-color: var(--task-1);
    color: var(--task-2);
    outline: none;
    font-family: var(--task-font);
    width: 85%;
    padding: 2vh 2vw;
    margin: 0 0 2.5vh calc(7.5% - 2vw);
    border-radius: 2vw;
    font-size: 2vh;
    font-weight: 300;
}

#tasks {
    width: 100%;
    min-height: 90%;
    max-height: 90%;
    overflow: auto;
    height: fit-content;
}

#search-container {
    height: 10%;
    width: 100%;
}


/* width */


/* set the width of the scrollbar */

::-webkit-scrollbar {
    width: 10px;
}


/* Handle */


/* set the color of the scrollbar and the radius of its corners */

::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


/* Handle on hover */


/* set the color of the scrollbar when hovered over */

::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131);
}


/* Handle on active */


/* set the color of the scrollbar when clicked */

::-webkit-scrollbar-thumb:active {
    background: rgb(104, 104, 104);
}


/* Hide the horizontal scroll bar */

::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}